.home-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background-image: url("../assets/fundal.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;

}

.home-title{
    margin-top: 0;
    padding: 7%;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);

}

.home-text{
    font-size:25px;
    margin: 4%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0);
}

.home-buttons{
    display: flex;
    gap: 60px;
    margin: 30px;
}

.button{
    font-size: 20px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(122, 168, 229, 0.702);
    width: 150px;
    text-align: center;
    border-color: rgba(79, 79, 202, 0.171);

}
button:hover{
    background-color: rgba(79, 79, 202, 0.171);
    cursor: pointer;
}